section#contact-info {
	font-size: 0.8em;
}
.job {
	background-color: #e9e5dc;
	border-radius: 10px;
	margin-top: 10px;
	padding: 1px;
}
.lists {
	font-size: 0.8em;
}

/* mouse over link */
h1:hover {
    color: blue;
}

/* child selector */
section > section {
	color: green;
}


