#octopus {
	position: relative;
	margin: auto;
	width: 25%;
	z-index: 1;
}

#hat {
	position: relative;
	left: 425px;
	top: 110px;
	z-index: 2;
}

#glasses {
	position: relative;
	top: 330px;
	left: 490px;
	z-index: 3;
}